/* CSS Reset */
body {
  margin: 0;
}

ul,
li {
  padding: 0 15px;
}

li::marker {
  padding-left: 0;
}

/* Basic Style */
.container {
  max-width: 1080px;
  margin: 0 auto;
}

/* Header Style */
header {
  background-color: #4ea0ff;
  background-image: url("../img/pattern.png");
  background-size: contain;
  height: 100px;
}

/* Title Style */
h1 {
  font-size: 38px;
  margin-bottom: 0;
}

.title-info {
  margin: 0;
  color: #808080;
}

.author {
  color: #3cb4e7;
}

.date {
  font-size: smaller;
}

.img-description {
  margin: 0;
  font-size: smaller;
}

/* Main content */
.glow {
  background-color: yellow;
}

/* Table */
table {
  font-size: 16px;
  border-collapse: collapse;
  padding: auto;
}

thead {
  height: 10px;
  font-weight: bold;
}

th {
  text-align: left;
  background-color: #20a9e5;
  color: white;
  height: 10px;
}

td {
  width: 30%;
  height: 30px;
  text-align: left;
  line-height: 1.4;
}

.odd {
  background-color: #b1e5f2;
}

/* Footer */
h3 {
  color: #808080;
}

.img-1 {
  background-image: url(../img/monitor.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.img-2 {
  background-image: url("../img/graph.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.img-container {
  margin: 5px 0;
  padding: 10px;
  color: aliceblue;
  font-size: 20px;
  font-weight: bold;
  width: 250px;
  height: 200px;
}
